{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section class=" bg-gray-50 dark:bg-gray-900">
        <div class=" flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

            <div
                class="  w-full md:w-3/6 bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                {% include 'includes/alerts.html' %}
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Crear Cuenta
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}

                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                            <div>
                                <label
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                                <input type="text" placeholder="Ingrese Nombre" name="first_name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                <!-- {{form.first_name}} -->
                            </div>
                            <div>
                                <label
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
                                <input type="text"  placeholder="Ingrese Apellido" name="last_name"
                                    class="'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" required>

                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                            <div>
                                <label
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celular</label>
                                <input type="number" name="phone_number"  placeholder="Ingrese Telefono" 
                                    class="'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" required>

                            </div>
                            <div>
                                <label
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                <input type="email" name="email"  placeholder="Ingrese Email"
                                    class="'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" required>

                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                            <div>
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha De
                                    Nacimiento</label>
                                <input type="date" name="FechaN"
                                    class="'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" required>

                            </div>
                            <div>
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo</label>
                                <select name="Sexo"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    <option selected>Seleccione Sexo</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">No especificado</option>

                                </select>

                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                            <div>
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                                <input type="password" id="password" name="password" placeholder="Ingrese Contraseña"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                            </div>
                            <div>
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repetir Contraseña</label>
                                <input type="password" id="confirm_password" placeholder="Confirmar Contraseña"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required>
                            </div>
                        </div>



                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="terms" aria-describedby="terms" type="checkbox"
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                    required>
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="terms" class="font-light text-gray-500 dark:text-gray-300">Acepto los <a
                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                        href="#">términos y condiciones</a></label>
                            </div>
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Crear Cuenta</button>

                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Ya tienes una cuenta <a href="{% url 'login' %}"
                                class="font-medium text-primary-600 hover:underline dark:text-primary-500">Iniciar Sesion</a>
                        </p>

                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

<script>
    // Obtén referencias a los campos de contraseña y confirmación de contraseña
var passwordField = document.getElementById("password");
var confirmField = document.getElementById("confirm_password");

// Agrega un evento de escucha para validar las contraseñas cuando el usuario escriba
confirmField.addEventListener("input", function () {
    if (confirmField.value !== passwordField.value) {
        confirmField.setCustomValidity("Las contraseñas no coinciden");
    } else {
        confirmField.setCustomValidity(""); // Restablece el mensaje de error
    }
});
</script>


{% endblock %}