{% extends 'base.html' %}
{% block content %}
{% include 'includes/sidebarnav.html' %}
{% load static %}

<div class="col-span-9 mt-6 lg:mt-0 space-y-4">
    {% include 'includes/alerts.html' %}
    <!-- single wishlist -->
    {% if Productos %}
    <h4 class="text-center mt-4">
        Productos Agregados

    </h4>
    <div>
        <button class="bg-blue-600 px-6 py-2 text-white" id="agregarTodoButton">seleccionar todo </button>
    </div>
    {% for item in Productos %}
    <div
    
        class="  flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap">
        <!-- cart image -->
        
        {% if item.Catindadinv <= 5 %}
        <img src="{% static 'src/images/ban/remove.png' %}" alt="">
        <input disabled type="checkbox" name="product_checkbox" value="{{ item.item }}" class=" hidden bg-red-600   ">
    {% else %}
    {% if item.EstadoProducto == "Agregado" %}
    <input disabled type="checkbox" name="product_checkbox" value="{{ item.item }}" class="  bg-red-600   ">
    {% else %}
    <input type="checkbox" name="product_checkbox" id="{{ item.item }}" value="{{ item.item }}" class="disabled product-checkbox product-checkbox2">

    {% endif %}

    {% endif %}
    
    
               <div class="w-28 flex-shrink-0">
            <img src=" https://riba.app/imgrs/THUMBS 500X500/{{item.item}}.jpg " class="w-full"
                onerror="this.src='https://www.ribasmith.com/media/catalog/product/placeholder/default/watermark_4.png' ">
        </div>
        <!-- cart image end -->
        <!-- cart content -->
        <div class="md:w-1/3 w-full">
            <h2 class="text-gray-800 mb-1 xl:text-xl textl-lg font-medium  lowercase">
                {{item.nombre |capfirst}}
                
            </h2>
            {% if item.inventario <= 5 %} <p class="text-gray-500 text-sm">Not Availability: <span
                    class=" text-red-500 "> {{item.Catindadinv}}</p>
                    

                    {% else %}
                    <p class="text-gray-500 text-sm">Availability: <span class="text-green-600">{{item.Catindadinv}}</span></p>
                    {% endif %}
                    {% if item.EstadoProducto == 'Agregado' %}
                    <p class="text-sm text-purple-400  font-roboto ">En Carrito</p>
                    {% else %}
                        {% endif %}

                                      

        </div>
        <!-- cart content end -->
        <div class="">
            {% if item.Descuento %}
            <div class="flex">
                <p class="text-sm text-red-700  font-roboto line-through">$ {{item.precio|floatformat:2}}</p>
                <p class="text-xl  text-gray-900 font-roboto font-semibold">$ {{item.Descuento|floatformat:2}}</p>
                
            </div>
            {% else %}
            <div class="flex">
                <p class="text-xl  text-gray-900 font-roboto font-semibold">$ {{item.precio|floatformat:2}}</p>
            </div>
            
            {% endif %}

        </div>
      

            <a href="{% url 'eliminarProductoListado' idlista item.item %}">

            <div class="text-gray-600 hover:text-danger-600 cursor-pointer">
                <i class="fas fa-trash"></i>
            </div>
           </a>

           
            <button type="button" class="btn-menos" id="minus-{{ item.item }}">-</button>
            <input class="selector-input  text-center quantity-input" type="number" name="cantidad" id="cantidade-{{ item.item }}" value="1" readonly>
            <button type="button" class="btn-mas " id="plus-{{ item.item }}">+</button>
            
           
           

          
    </div>
    {% endfor %}

    {% else %}

    <div class="text-center mt-5">
        <h2> Lista De Productos Esta Vacia</h2>
        <div class="mt-10">
            <a href="{% url 'home' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Continuar Agregando</a>
        </div>
       
    </div>
    {% endif %}
    
    <div class="  container  flex items-center justify-center space-x-2 ">
        <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
             Seleccionar
          </button>
        
        
   
     <!-- <button id="agregarTodoButton" class="  px-6 py-2 bg-blue-600  rounded-sm text-white  hover:bg-white   hover:text-blue-600  ">Agregar todo</button> -->
    </div>
</div>



<!-- Modal toggle -->
  
  <!-- Main modal -->
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Productos
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                 
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Desea agregar los productos al carrito?
                </p>
                <p class="font-bold ">
                    Productos seleccionados:<span id="cantidadProductosSeleccionados"></span>
                </p>
            
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="agregarSeleccionButton" class="px-6 py-2 bg-blue-600 rounded-sm text-white hover:bg-white hover:text-blue-600">
                    Confirmar
                </button>
               
                  <button data-modal-hide="default-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
              </div>
          </div>
      </div>
  </div>
  















  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script>
    const checkboxes = document.querySelectorAll('.product-checkbox2');
const quantityInputs = document.querySelectorAll('.quantity-input');

// Función para manejar los cambios en los checkboxes y cantidad
function updateSelectedProducts() {
  const selectedProducts = [];

  checkboxes.forEach((checkbox, index) => {
    if (checkbox.checked) {
      const productId = checkbox.id;
      const quantity = parseInt(quantityInputs[index].value);
      selectedProducts.push({ product: productId, cantidad: quantity });
    }
  });
  return selectedProducts
 
}




// Agregar oyentes de eventos a los checkboxes y campos de cantidad
checkboxes.forEach((checkbox, index) => {
  checkbox.addEventListener('change', updateSelectedProducts);
  quantityInputs[index].addEventListener('input', updateSelectedProducts);
});


// Objeto para rastrear las cantidades
const cantidadesGuardadas = {};

// Función para inicializar las cantidades guardadas
function inicializarCantidadesGuardadas() {
    document.querySelectorAll('.selector-input').forEach((input) => {
        const itemId = input.id.replace('cantidade-', '');
        cantidadesGuardadas[itemId] = parseInt(input.value);
    });
}

// Función para actualizar la cantidad guardada y el campo de entrada
function actualizarCantidad(itemId, nuevaCantidad) {
    const input = document.getElementById(`cantidade-${itemId}`);
    if (input) {
        input.value = nuevaCantidad;
        cantidadesGuardadas[itemId] = nuevaCantidad;
    }
}

// Agrega un evento clic para el botón "menos"
document.querySelectorAll('.btn-menos').forEach((button) => {
    button.addEventListener('click', (event) => {
        const itemId = event.target.id.replace('minus-', '');
        if (cantidadesGuardadas[itemId] > 0) {
            const nuevaCantidad = cantidadesGuardadas[itemId] - 1;
            actualizarCantidad(itemId, nuevaCantidad);
        }
    });
});

// Agrega un evento clic para el botón "más"
document.querySelectorAll('.btn-mas').forEach((button) => {
    button.addEventListener('click', (event) => {
        const itemId = event.target.id.replace('plus-', '');
        const nuevaCantidad = cantidadesGuardadas[itemId] + 1;
        actualizarCantidad(itemId, nuevaCantidad);
    });
});

// Inicializa las cantidades guardadas al cargar la página
inicializarCantidadesGuardadas();



    // Ahora puedes acceder a los campos de entrada en el arreglo cantidadInputs


    // Otra función donde puedes acceder a cantidadInput
    function otraFuncion() {
    var dataS = "{% url 'cart' %}";
    const checkboxes = $('.product-checkbox:checked');
    
    if (checkboxes.length === 0) {
        console.log("Debes seleccionar productos");
    } else {
        const datos=updateSelectedProducts()
      console.log(datos);
      var csrftoken = getCookie("csrftoken");

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const requestData = {
    selectedProducts: datos
};
      $.ajax({
      method: "POST",
      url:"{% url 'wishlistProduct' %}",
      data:JSON.stringify(requestData),
      headers: {
        "X-CSRFtoken": csrftoken
    },
      success: function(response) {
        // Manejar la respuesta del servidor si es necesario
        console.log("Solicitud exitosa:", response);
        window.location.href = dataS;
      },
      error: function(err) {
        // Manejar errores si es necesario
        console.error("Error en la solicitud:", err);
      }
    });

        // ...
    }
}

// Llamar a otraFunción en algún momento
$('#agregarSeleccionButton').on('click', function() {
    otraFuncion();
});






// Función para actualizar la cantidad de productos seleccionados
function actualizarCantidadSeleccionados() {
    const checkboxesSeleccionados = Array.from(checkboxes).filter(checkbox => checkbox.checked);
    const cantidadProductosSeleccionados = checkboxesSeleccionados.length;
    document.querySelector('#cantidadProductosSeleccionados').textContent = cantidadProductosSeleccionados;
}

// Agregar un evento 'change' a cada checkbox
checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', actualizarCantidadSeleccionados);
});

// Inicializar la cantidad de productos seleccionados
actualizarCantidadSeleccionados();

// Agregar un evento 'click' al botón "Agregar todo"
document.querySelector('#agregarTodoButton').addEventListener('click', function() {
    checkboxes.forEach(function(checkbox) {
        checkbox.checked = true;
    });

    // Actualizar la cantidad de productos seleccionados
    actualizarCantidadSeleccionados();
});

  </script>


    {% endblock %}



