<style>
    .p-slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 1190px;
    }


    @media screen and (max-width: 768px) {
        .p-slider {
            width: 290px;
            /* Ancho del 60% en pantallas pequeñas */
        }
    }


    .product-slider-heading {
        font-size: 28px;
        text-transform: uppercase;
        columns: #313131;
        text-align: center;
        margin: 0px;
    }

    .product-box1 {
        display: flex;
        flex-direction: column;
        width: 500px;


        position: relative;

    }

    .p-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

    }

    .p-img a,
    p-img {
        width: 100%;
        height: auto;
        display: flex;
    }

    .p-img a img {
        width: 100%;
        height: auto;
        object-position: center;
        object-fit: contain;
        animation: fade 0.6s;

    }

    .p-img-back {
        display: none;
    }

    .p-img-container:hover .p-img-back {
        display: block;
    }

    .p-img-container:hover .p-img-front {
        display: none;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .p-box.text {
        margin-top: 5px;
        width: 100%;
    }

    .product-category {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }


    .product-category span {
        color: #acacac;
        font-size: 0.9rem;
        margin: 5px;
    }

    .product-title {
        color: #333333;
        font-size: 13px;
        transition: all ease 0.3s;
    }

    .product-title:hover {
        color: #111111;
        opacity: 0.7;
        transition: all ease 0.3s;
    }

    .price-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }

    .price-buy .p-price {
        margin-top: 10px;
        font-size: 1.3rem;
        color: #333333;
        font-weight: 700;
    }

    .price-buy span {
        color: blue;
        text-align: center;
    }


    .price-buy-btn {
        margin-top: 20px;
    }

    .price-buy-btn .p-buy-btn {
        background-color: #ffffff;

        color: #e63b3b;
        margin: 0px 5px;
        font-weight: 600;
    }


    .price-buy-btn .p-buy-btn:hover {
        text-decoration: underline;

    }

    .p-discount {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 65px;
        height: 24px;
        color: #ffffff;
        background-color: #006eff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        letter-spacing: 1px;
        z-index: 100;
        border-radius: 3px;


    }

    .text-limit {
        white-space: nowrap;
        /* Evita el salto de línea */
        overflow: hidden;
        /* Oculta el exceso de texto */
        text-overflow: ellipsis;
        /* Agrega puntos suspensivos (...) al final del texto truncado */
        max-width: 20ch;
        /* Limita el ancho máximo a 15 caracteres (aproximadamente) */
        display: inline-block;
        /* Permite que el elemento ocupe solo el espacio necesario */
    }
</style>


<section class="p-slider">

    <div class="flex justify-between items-center w-full">
        <h3 style="font-size: 19px;" class="font-bold text-lg rounded-lg">Precios Especiales-Octubre</h3>
        <a style="font-size: 19px;" href="{% url 'precios_especiales' 1%}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white text-right">Ver todo <i class="fas fa-chevron-right"></i></a>
    </div>




    <div class="glider-contain mt-14">
        {% include 'includes/alerts.html'  %}
        <div class="glider">
          
            {% for item in productos %}
            <div class="product-box1">
                <span class="p-discount"> -{{item.porcentaje}}% </span>

                <!-- img container -->
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="{% url 'product_detail' item.item %}">
                            <img src=" https://riba.app/imgrs/THUMBS 500X500/{{item.item}}.jpg" class="transform hover:scale-110 transition-transform duration-300 ease-in-out w-full p-img-font" onerror="this.src='https://www.ribasmith.com/media/catalog/product/placeholder/default/watermark_4.png' ">

                            
                        </a>

                    </div>
                </div>

                <!-- cuerpo de la card -->
                <div class="p-box-text">

                    <div class="product-category">
                        <span> {{ item.name }}</span>
                    </div>

                    <a href="" class="product-title  text-limit">
                        {{item.nombre}}
                    </a>
                    <p class="text-green-500 ">In Stock</p>
                    <!-- estrellas -->
                    <div class="flex items-center mt-2.5 mb-5">
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <span
                            class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
                    </div>
                    <!-- fin de estrellas -->

             
                    {% if item.Descuento %}
                    <div class=" mt-10">
                        <span class="text-base text-red-700  font-medium line-through dark:text-gray-300">$ {{item.precio|floatformat:2}}</span>
                        <span class="text-lg font-semibold text-gray-900 dark:text-white ">${{item.Descuento|floatformat:2}} </span>
                    </div>
                    {% else %}
                    <span class="text-lg font-semibold text-gray-900 dark:text-white ">${{item.precio|floatformat:2}} </span>
                    {% endif %}

                    <div class="price-buy-btn ml-0 sm:ml-7">
                        <a href="{% url 'add_cart' item.item %}"   class="text-white bg-yellow-300 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                         font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                         Agregar
                         <i class="fa fa-cart-arrow-down"></i>
                         </a>
            
                    </div>
                    <div class="mt-5">

                    </div>

                </div>



            </div>
            {% endfor %}
        </div>

        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div>



</section>




<script>
    new Glider(document.querySelector('.glider'), {
        slidesToScroll: 1,
        slidesToShow: 5,
        draggable: true,
        dots: '.dots',
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        }
    });
</script>