<style>
    .p-slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 1190px;
    }

    .product-slider-heading {
        font-size: 28px;
        text-transform: uppercase;
        columns: #313131;
        text-align: center;
        margin: 0px;
    }

    .product-box1 {
        display: flex;
        flex-direction: column;
        width: 300px;
       
        
        position: relative;

    }

    .p-img-container {
        width: 100%;
        height: 100px;
        display: flex;
        overflow: hidden;

    }

    .p-img a,
    p-img {
        width: 100%;
        height: 100px;
        display: flex;
    }

    .p-img a img {
        width: 100%;
        height: 100px;
        object-position: center;
        object-fit: contain;
        animation: fade 0.6s;

    }

    .p-img-back {
        display: none;
    }

    .p-img-container:hover .p-img-back {
        display: block;
    }

    .p-img-container:hover .p-img-front {
        display: none;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .p-box.text{
        margin-top: 5px;
        width: 100%;
    }
    .product-category{
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        flex-wrap: wrap;
    }


    .product-category span{
        color: #acacac;
        font-size: 0.9rem;
        margin: 5px;
    }

    .product-title{
        color: #333333;
      font-size: 13px;
        transition: all ease 0.3s;
    }
    .product-title:hover{
        color: #111111;
        opacity: 0.7;
        transition: all ease 0.3s;
    }
    .price-buy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
    .price-buy .p-price{
        margin-top: 10px;
        font-size: 1.3rem;
        color: #333333;
        font-weight: 700;
    }

    .price-buy span{
        color: blue;
        text-align: center
        ;
    }
   

    .price-buy-btn{
        margin-top: 20px;
    }
    .price-buy-btn .p-buy-btn{
        background-color: #ffffff;
        
        color: #e63b3b;
        margin: 0px 5px;
        font-weight: 600;
    } 
    

    .price-buy-btn .p-buy-btn:hover{
        text-decoration: underline;

    }
    .p-discount{
        position: absolute;
        left: 20px;
        top: 20px;
        width: 65px;
        height: 24px;
        color:#ffffff;
        background-color: #006eff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        letter-spacing: 1px;
        z-index: 100;
        border-radius: 3px ;
         

    }



</style>


<section class="p-slider" >
   
    <div class="flex justify-between items-center w-full">
        <h3 class="font-bold text-lg rounded-lg">Precios Especiales-Octubre</h3>
        <a href="" class="text-right">Ver todo</a>
    </div>
    
    


    <div class="glider-contain mt-14">
        <div class="glider">
            {% for products in product %}
            <div class="product-box1">
                <span class="p-discount"> -20%  </span>
                 
                <!-- img container -->
                <div class="p-img-container">
                    <div class="p-img">
                        <a href="">
                            <img src="https://riba.app/imgrs/THUMBS 500X500/{{products.item}}.jpg" class="p-img-font">
                            <img src="https://riba.app/imgrs/THUMBS 500X500/{{products.item}}.jpg" class="p-img-back">
                        </a>
        
                    </div>
                </div>
        
                <!-- cuerpo de la card -->
                <div class="p-box-text">
        
                    <div class="product-category">
                        <span> {{ products.categrorianame }}</span>
                    </div>
        
                    <a href="" class="product-title mt-10">
                        {{products.nombre}}
                    </a>
        
                    <div class="price-buy mt-10">
                        
                        <span class="p-price ml-11 sm:ml-16">${{products.precio}} </span>
               
                        
                    </div>

                    <div class="price-buy-btn ml-0 sm:ml-11">
                        <button type="button" class="text-white bg-yellow-300 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                         font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        
                         Agregar
                         <i class="far fa-cart-arrow-down"></i>
                        </button>
                      
                        
                        
                 
                        
                    </div>
        
                </div>
        
        
        
            </div>
            {% endfor %}
        </div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
      </div>



</section>




<script>
    new Glider(document.querySelector('.glider'), {
  slidesToScroll: 1,
  slidesToShow: 5,
  draggable: true,
  dots: '.dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  }
});
</script>
