    <!-- breadcrum -->
    <div class="py-4 container flex gap-3 items-center">
        <a href="index.html" class="text-primary text-base">
            <i class="fas fa-home"></i>
        </a>
        <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
        <p class="text-gray-600 font-medium ">Mi Cuenta</p>
    </div>
    <!-- breadcrum end -->

<!-- account wrapper -->
<div class="container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16 mb-3">
    <!-- sidebar -->
    <div class="col-span-3">


        <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
            <div class="pl-8 pt-4">
                <a class="{% if '/account/dashboard/' == request.path %}  text-blue-600  rounded-t-lg active dark:text-blue-500 dark:border-blue-500 {% endif %}"
                    href=" {% url 'dashboard' %}"><i class="fas fa-home"></i> Dashboard </a>
    
                <a href=" {% url 'perfil' %}" class="hover:text-primary transition capitalize block {% if '/account/perfil/' == request.path %} 
                     text-blue-600  rounded-t-lg active dark:border-blue-500 {% endif %} mt-5 ">
                     <i class="fas fa-user"></i> Informacion de Perfil</a>
                <a href="manage-address.html" class="hover:text-primary transition capitalize block {% if '/account/DireccionAdmin/' == request.path %} 
                    text-blue-600  rounded-t-lg active dark:text-blue-500 dark:border-blue-500 {% endif %} mt-5"><i class="fas fa-map-signs"></i> Administrar
                    Direccion
                </a>
                <a href="change-password.html" class="hover:text-primary transition capitalize block {% if '/account/changePassword/' == request.path %} 
                    text-blue-600  rounded-t-lg active dark:text-blue-500 dark:border-blue-500 {% endif %} mt-5">
                    <i class="fas fa-key"></i> Cambiar Contraseña</a>
       
                <a href=" {% url 'ordenes' %}" class="hover:text-primary transition capitalize block {% if '/account/ordenes/' == request.path %} 
                    text-blue-600  rounded-t-lg active dark:text-blue-500 dark:border-blue-500 {% endif %} mt-5"><i class="fas fa-shopping-basket"></i> Mis
                    Pedidos</a>

                <a href="{% url 'ListaCompra' %}" class="hover:text-primary transition capitalize block {% if '/account/ListaCompra/' == request.path %} 
                    text-blue-600  rounded-t-lg active dark:border-blue-500 {% endif %} mt-5">
                    <i class="fas fa-list"></i> Mi Lista de Compra

                </a>
            </div>

        </div>
        
        <!-- profile links end -->
    </div>
    <!-- sidebar end -->


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navLinks = document.querySelectorAll(".nav-link");

            // Obtén la URL actual
            const currentUrl = window.location.pathname;

            // Itera a través de los enlaces de navegación
            navLinks.forEach(function (link) {
                const linkUrl = link.getAttribute("href");
                if (currentUrl === linkUrl) {
                    link.classList.add("active");
                }
            });
        });
    </script>