{% load static %}
{% load compress %}


<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Supermecado Riba Smith</title>
    <script>
        
    </script>
    
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="{% static 'src/js/glider.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/79eb049729.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'src/css/glider.min.css' %}">
    <link rel="stylesheet" type="text/css"
 
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">


  
    {% endcompress %}
   
    
</head>

<body>


    {% include 'includes/navbar.html' %}
  

    {% block content %}

    {%endblock%}



    {% include 'includes/footer.html' %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script
    src="{% static 'src/tw-element/js/tw-elements.umd.min.js' %}"
    type="text/javascript"></script>
   
    
</body>

</html>