{% load static %}
{% load compress %}


<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Supermecado Riba Smith</title>

  <link rel="shortcut icon" href="{% static 'src/images/icons/favicon.ico' %}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href=" {% static 'src/css/uicons-thin-rounded.css' %} ">
  <link rel="stylesheet" href=" {% static 'src/css/sweetalert2.css' %} ">
  <script src="{% static 'src/js/glider.min.js' %}"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src=" {% static 'src/js/fontawesome.js' %} " crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'src/css/glider.min.css' %}">


  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">



  {% endcompress %}


</head>

<body>




  <style>
    .hide-on-load {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    /* Aplicar estilos para mostrar elementos gradualmente */
    .show-on-load {
      opacity: 1;
      visibility: visible;
    }

    /* Estilo para la capa de fondo */
    #overlay {
      transition: opacity 0.3s ease-in-out;
    }
  </style>


  {% include 'includes/navbar.html' %}




  <div class="hide-on-load">
    {% block content %}

    {%endblock%}

    {% include 'includes/modaladd.html' %}
    
    <div id="overlay" class="fixed inset-0 bg-black opacity-40 pointer-events-none z-40 hidden"></div>









    <div id="alert"
      class=" transition-opacity duration-500 ease-in-out fixed inset-0 flex items-center justify-center z-50 hidden p-4">
      <div class="relative w-full max-w-md">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

          <div class="p-6 text-center">

            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Como es su Metodo de envio?</h3>
            <button type="button" data-modal-target="crypto-modal" data-modal-toggle="crypto-modal"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
              <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512"
                height="512">
                <path
                  d="M24,10a.988.988,0,0,0-.024-.217l-1.3-5.868A4.968,4.968,0,0,0,17.792,0H6.208a4.968,4.968,0,0,0-4.88,3.915L.024,9.783A.988.988,0,0,0,0,10v1a3.984,3.984,0,0,0,1,2.643V19a5.006,5.006,0,0,0,5,5H18a5.006,5.006,0,0,0,5-5V13.643A3.984,3.984,0,0,0,24,11ZM2,10.109l1.28-5.76A2.982,2.982,0,0,1,6.208,2H7V5A1,1,0,0,0,9,5V2h6V5a1,1,0,0,0,2,0V2h.792A2.982,2.982,0,0,1,20.72,4.349L22,10.109V11a2,2,0,0,1-2,2H19a2,2,0,0,1-2-2,1,1,0,0,0-2,0,2,2,0,0,1-2,2H11a2,2,0,0,1-2-2,1,1,0,0,0-2,0,2,2,0,0,1-2,2H4a2,2,0,0,1-2-2ZM18,22H6a3,3,0,0,1-3-3V14.873A3.978,3.978,0,0,0,4,15H5a3.99,3.99,0,0,0,3-1.357A3.99,3.99,0,0,0,11,15h2a3.99,3.99,0,0,0,3-1.357A3.99,3.99,0,0,0,19,15h1a3.978,3.978,0,0,0,1-.127V19A3,3,0,0,1,18,22Z" />
              </svg>

              Retiro en Tienda
            </button>

            <button type="button" data-modal-target="crypto-modal" data-modal-toggle="crypto-modal"
              class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
              <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                viewBox="0 0 24 24" width="512" height="512">
                <path
                  d="M19,5H17V4a3,3,0,0,0-3-3H3A3,3,0,0,0,0,4V19H2.041A3.465,3.465,0,0,0,2,19.5a3.5,3.5,0,0,0,7,0,3.465,3.465,0,0,0-.041-.5h6.082a3.465,3.465,0,0,0-.041.5,3.5,3.5,0,0,0,7,0,3.465,3.465,0,0,0-.041-.5H24V10A5.006,5.006,0,0,0,19,5Zm0,2a3,3,0,0,1,3,3v1H17V7ZM7,19.5a1.5,1.5,0,0,1-3,0,1.418,1.418,0,0,1,.093-.5H6.907A1.418,1.418,0,0,1,7,19.5ZM15,17H2V4A1,1,0,0,1,3,3H14a1,1,0,0,1,1,1Zm5,2.5a1.5,1.5,0,0,1-3,0,1.41,1.41,0,0,1,.093-.5h2.814A1.41,1.41,0,0,1,20,19.5ZM17,17V13h5v4Z" />
              </svg>


              Domicilio
            </button>
          </div>
        </div>
      </div>
    </div>


    <div id="crypto-modal" tabindex="-1" aria-hidden="true"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

          <!-- Modal header -->
          <div class="px-6 py-4 border-b rounded-t dark:border-gray-600">
            <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
              Selecciona una tienda
            </h3>
          </div>
          <!-- Modal body -->
          <div class="p-6">
            <select id="miSelect12" data-te-select-init>
              
              
            </select>
          </div>

          <!-- Modal footer (Botón "Continuar" centrado) -->
          <div class="flex justify-center items-center  mb-7 space-x-3 ">
            <button id="continuarButton" data-modal-hide="alert" type="button"
              class="   text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Continuar</button>
            
            
            
            
              <button data-modal-hide="crypto-modal" type="button"
              class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Cancelar</button>


          </div>
        </div>
      </div>
    </div>


  </div>



  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Advertencia
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Si cambia de tienda su carrito sera eliminado                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>



  {% include 'includes/footer.html' %}
  <div id="toast" class="hidden">
    Producto Agregado Con Exito
  </div>

    <div id="toasterror" class="hidden">
    Producto Agregado Con Exito
  </div>
  <script src="https://unpkg.com/flowbite-datepicker@1.2.2/dist/js/datepicker-full.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

  <script src="{% static 'src/tw-element/js/tw-elements.umd.min.js' %}" type="text/javascript"></script>
  <script src=" {% static 'src/js/sweetalert2.js' %}"></script>
  <script src=" {% static 'src/js/jquery.js' %}"></script>
  <script src="{% static 'src/js/javascrip.js' %}" type="text/javascript"></script>
 
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const hiddenElements = document.querySelectorAll('.hide-on-load');
      hiddenElements.forEach(function (element) {
        element.classList.add('show-on-load');
      });
    });
  </script>

<script>
   
    document.addEventListener("DOMContentLoaded", function () {
      const alertElement = document.getElementById("alert");
      const overlayElement = document.getElementById("overlay");
      const closeAlertButton = document.getElementById("closeAlert");
      

      // Función para mostrar la alerta y oscurecer el fondo
      function showAlert() {
        alertElement.classList.remove("hidden");
        overlayElement.classList.remove("hidden");
        session();
      }

      // Función para ocultar la alerta y restaurar el fondo
      function hideAlert() {
        alertElement.classList.add("hidden");
        overlayElement.classList.add("hidden");
        
      }

      // Verificar si hay un valor guardado en sessionStorage
      const storedValue = "{{ request.session.valor_seleccionado }}".trim(); // Elimina espacios en blanco alrededor del valor
      // Mostrar la alerta solo si no hay un valor en sessionStorage
      if (storedValue === "") {
        // Mostrar la alerta automáticamente después de 3 segundos
        setTimeout(showAlert, 1000); // 3000 milisegundos (3 segundos)
      }
      // Cerrar la alerta al hacer clic en el botón de cierre
      closeAlertButton.addEventListener("click", hideAlert);
    });

  </script>


  <script>
    // Obtener una referencia al elemento <select> por su ID
    const miSelect12 = document.getElementById("miSelect12");

    // Obtener una referencia al elemento donde mostrar el valor seleccionado
    const valorSeleccionado = document.getElementById("valorSeleccionado");

    // Obtener una referencia al botón "Continuar"
    const continuarButton = document.getElementById("continuarButton");

    // Función para guardar el valor en sessionStorage

    function guardarValorEnSesion() {
      const selectedValue = miSelect12.value; // Obtén el valor seleccionado
      const selectedText = miSelect12.options[miSelect12.selectedIndex].text; // Obtén el texto de la opción seleccionada
      var csrfToken = getCookie("csrftoken");


      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
        
    $.ajax({
        type: "POST",
        url: "{% url 'guardar_valor_en_sesion' %}", // Asegúrate de especificar la URL correcta
        data: {
          selected_value: selectedValue,
          selected_text: selectedText
        },
        headers: {
          "X-CSRFToken": csrfToken  // Agrega el token CSRF como encabezado
        },
        success: function (data) {
          // Manejar la respuesta del servidor si es necesario
        },
        error: function (error) {
          // Manejar errores si es necesario
        }
      });
    }

    // function guardarValorEnSesion() {
    //   const selectedValue = miSelect.value;
    //   const selectedText = miSelect.options[miSelect.selectedIndex].text; // Obtener el texto de la opción seleccionada
    //   sessionStorage.setItem("valorSeleccionado", selectedValue);
    //   sessionStorage.setItem("nombreTienda", selectedText); // Guardar el nombre de la tienda
    // }

    // Función para mostrar el valor seleccionado
    function mostrarValor() {
      const storedValue = "{{request.session.valor_seleccionado}}"
      const storedNombreTienda = "{{request.session.nombre_tienda}}"

      if (storedValue) {
        miSelect12.value = storedValue;
        valorSeleccionado.textContent = storedValue;
        

        // Mostrar el nombre de la tienda en un input
        const nombreTiendaInput = document.getElementById("nombreTiendaInput");
        if (nombreTiendaInput) {
          nombreTiendaInput.value = storedNombreTienda;
          
        }
      }

    }

    function session(){
        $.ajax({
      url:"{% url 'verbodega'  %}",
      method: "GET",
       
      // Envía los datos como objeto JSON
      success: function (data) {
        var select = document.getElementById("miSelect12");
      
             
        // Crea un arreglo de opciones que deseas agregar
        var opciones = data['message'];
        // Itera a través del arreglo de opciones y crea elementos <option> para cada una
        opciones.forEach(function (bodega) {
         
          var option = document.createElement("option");
          option.value = bodega.bodega; // Puedes establecer el valor que desees, como el ID
          option.text = bodega.nombodega; // El texto de la opción será el nombre del distrito

          // Agrega la opción al elemento <select>
          select.appendChild(option);
        });

      }
    })
      }








    // Agregar un evento de cambio (change) al elemento <select>
    miSelect12.addEventListener("change", function () {
      guardarValorEnSesion();
    });

    // Agregar un evento clic al botón "Continuar"
    continuarButton.addEventListener("click", function () {
      // Guardar el valor en sessionStorage antes de cerrar el modal
      const storedValue = "{{request.session.valor_seleccionado}}"

      if (storedValue){
      alerta2();  
      }else{
        guardarValorEnSesion();
        const alertElement = document.getElementById("alert");
      alertElement.classList.add("hidden");

      // Recargar la página
      location.reload();
      }
      

      // Ocultar la alerta principal
    
    });

    // Mostrar el valor seleccionado al cargar la página si no hay un valor en sessionStorage
    mostrarValor();


    function alerta2(){
      const alert2 = document.getElementById("alert2")
      alert2.classList.remove("hidden");
    }


  </script>
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</body>

</html>