{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/carrusel.html' %}






{% include 'includes/carruseles/productOferta.html' %}

<div class="container justify-center items-center rounded-xl ">
    <img src="{% static 'src/images/ban/frut.jpg' %}" alt="" class="container rounded-xl ">
    
</div>






{% include 'includes/Snack.html' %}
<div class="mt-8 container justify-center items-center ">
    <img src="{% static 'src/images/ban/Punto.jpg' %}" alt="" class="container">
  </div>
<div class="container mb-16 mt-8  grid md:grid-cols-3 text-center gap-4">
    
<div>
    <img src="{% static 'src/images/ban/VINO.JPG'%}" alt="">
</div>
<div>
    <img src="{% static 'src/images/ban/Autores.JPG'%}  " alt="">
</div>
<div>
    <img src="{% static 'src/images/ban/vinito.jpg' %}" alt="">
</div>
</div>




{% endblock %}