@import url('https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
}

#toast {
    position: fixed;
    bottom: 31px;
    right: 64px;
    background-color: #2b742e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}


/* css de store */

.text-limit {
    white-space: nowrap;
    /* Evita el salto de línea */
    overflow: hidden;
    /* Oculta el exceso de texto */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos (...) al final del texto truncado */
    max-width: 15ch;
    /* Limita el ancho máximo a 15 caracteres (aproximadamente) */
    display: inline-block;
    /* Permite que el elemento ocupe solo el espacio necesario */
}

.box ul {
    position: relative;
    background: #fff;
}

.box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;

    transition: transform 0.5s;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;

    color: #fff;
}
.p-discountstore {

    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #006eff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;


}
.p-discountsinstore {

width: 65px;
height: 24px;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.7rem;
letter-spacing: 1px;
margin-top: 20px;
margin-left: 20px;
border-radius: 3px;


}



/* css de product_detail */

.product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
}

.contenedor {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 5px;

}

.submenuproduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
}

.productpage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Estilo base para el contenedor */
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo para pantallas pequeñas, como móviles */
@media screen and (max-width: 768px) {
    .container2 {
        flex-direction: column;
        /* Columnas una debajo de la otra */
    }
}

/* Estilo para pantallas medianas, como tabletas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .column {
        width: 48%;
        /* Dos columnas en tabletas */
    }
}

/* Estilo para pantallas grandes, como monitores */
@media screen and (min-width: 1025px) {
    .column {
        width: 50%;
        /* Tres columnas en monitores */
    }
}

/* Estilos adicionales para las columnas y el contenedor */
.column {

    padding: 10px;
    margin-bottom: 10px;
}

.alertaproduct {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 235, 240);
    color: rgb(193, 59, 85);
    display: flex;
    justify-content: space-evenly;
}

.alertasecure {
    width: 90%;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(246, 247, 252);

    display: flex;
    flex-wrap: wrap;
}

.btn-menos {
    background-color: rgb(235, 234, 242);
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.btn-mas {
    background-color: rgb(235, 234, 242);
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.selector-input {
    width: 60px;
    height: 49px;
    border-radius: 10px;
}

.btn-favorite {
    width: 171px;
    height: 43px;

    border-radius: 20px;
    border: 1px solid black;
}

.p-discount {
    position: relative;
    display: flex;
    right: auto;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #006eff;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 3px;


}

.radio-label-hover:hover {
    /* Define los estilos de hover aquí, por ejemplo, cambia el color de texto y fondo */
    color: #3366CC; /* Color de texto en estado hover */
    background-color: #F5F5F5; /* Color de fondo en estado hover */
    border-color: #C5C5C5; /* Color del borde en estado hover */
  }