<a class="lg:block text-center text-gray-700 hover:text-blue-600 transition hidden relative">

  <button id="carritoview">
    <span
      class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-blue-600 text-white text-xs">
      <div id="cart-count">
        {{cart_count.cantidad}}
      </div>
    </span>
    <div class="text-2xl">
      <i class="fas fa-shopping-bag"></i>
    </div>
  </button>

</a>



<div id="modalcarrito" class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="false"
  style="display: none;">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">

        <div class="pointer-events-auto w-screen max-w-md">
          <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
            <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Carrito de Compra</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button id="cerrarCarrito" type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                      aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="text-right mt-5">
                <button  class="text-red-700 hover:bg-red-500 EliminarCarrito" id="EliminarCarrito">Eliminar Carrito <i class="fas fa-trash-alt"></i></button>
              </div>
       <hr>
              <div class="mt-8" id="modalint">
                
              </div>

          
            </div>

            <div class="border-t border-gray-200 px-4 py-6 sm:px-6" >
              <div class="flex justify-between text-base font-medium text-gray-900" id="modalintsub">

              </div>
         
              <p class="mt-0.5 text-sm text-gray-500">Envío e impuestos calculados al finalizar la compra.</p>
              <div class="mt-6">
                <a href="{% url 'cart' %}"
                  class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Ir
                  al Carrito</a>
              </div>
              <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                <p>
                
                  <button id="continuarcomprando" type="button"
                    class="font-medium text-indigo-600 hover:text-indigo-500">
                    Continuar Comprando
                    <span aria-hidden="true"> &rarr;</span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    
  var addToCartUrl = "{% url 'add_cart' 0 %}";
  var cartoCartUrl = " {% url 'get_cart_count' %}";
  var carrito = " {% url 'cart' %}";
  var vercarrito="{% url 'viewfiltcart' %}"
  var urlfinaldelete="{% url 'remove_cart_item' 0 %}"
  var urlremove_cart="{% url 'remove_cart' 0 %}"
  var urlrEliminarCarrtioCompleto="{% url 'EliminarCarrtioCompleto' %}"

  
 
</script>
